--extra-index-url https://download.pytorch.org/whl/cu128

tqdm
ninja
argparse
termcolor
packaging
torch==2.7+cu128
transformers
pybind11
setuptools
packaging

evaluate
rouge
rouge_score

wonderwords
html2text
bs4
scipy

jieba
fuzzywuzzy

triton

maturin

codetiming
